{% extends 'mainbase.html' %}
{% load static %}
{% block title %}Course{% endblock %}

{% block content %}
    <div style="padding:20px;margin-left:50vh;">
        {% for c in course %}

            <div class="card text-center mx-3 my-3 bg-secondary text-white" style="width: 120vh;">
                
                <div class="card-body">
                    <h4 class="card-title text-light "> {{c.name}}</h4>
                    <p class="card-text">{{c.description}}</p>
                    <div class="d-flex"><h6>Duration: </h6><p> {{c.duration}} years </p></div>
                    <div class="d-flex"><h6>Fees per year: Rs </h6><p> {{c.fee}}/-</p></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}