{% extends 'base.html' %}
{% block title %}Enquiry{% endblock %}
{% block content %}


<h1 class="container text-center mt-3">Enquiry Details</h1>
<hr>
<div class="container mt-2 text-center">


<table class="table bg-dark table-striped text-white text-center" style="border:1px solid black;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    {% for i in form %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phno}}</td>
    </tr>
    {% endfor %}

</table>
</div>

{% endblock %}